<app-term></app-term>
<app-expansion-list>
  <app-item>
    <app-item-header class="item-header">
      <div title>Section 1</div>
      <div description>Description sit amet</div>
      <div icon><span>&#9758;</span></div>
    </app-item-header>
    <app-item-body class="item-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat1.
      </p>
    </app-item-body>
  </app-item>

  <app-item>
    <app-item-header class="item-header">
      <div title>Section 2</div>
      <div description>Description sit amet</div>
    </app-item-header>
    <app-item-body class="item-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </app-item-body>
  </app-item>

  <app-item>
    <app-item-header class="item-header">
      <div title>Section 1</div>
      <div description>Description sit amet</div>
      <div icon>
        <img src="https://miro.medium.com/max/3840/1*O-QihY-caX7hEhZxfGdTDQ.jpeg" alt="">
      </div>
    </app-item-header>
    <app-item-body class="item-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </app-item-body>
  </app-item>

  <app-item appDisablePanel>
    <app-item-header class="item-header">
      <div title>Section 1</div>
      <div description>Description sit amet</div>
    </app-item-header>
    <app-item-body class="item-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </app-item-body>
  </app-item>
</app-expansion-list>

